/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
input,
dd {
  margin: 0;
}

/* variables */

:root {

--blue: hsl(223, 87%, 63%);
--pale-blue: hsl(223, 100%, 88%);
--light-red: hsl(354, 100%, 66%);
--gray: hsl(0, 0%, 59%);
--very-dark-blue: hsl(209, 33%, 12%);
}

body {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    padding: 3em;
}


.container {
    width: 400px;
    margin: 0 auto;
}

.stretch {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

main {
    height: 100vh;
}

main img {
    width: 100%;
}

.form-newsletter {
    margin-bottom: 4em;
}

h1 {
    font-weight: 200;
}

h5 {
    margin-top: 0.6em;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.social-icons img {
    width: 15px;
    margin-right: 1em;
    fill: red;
}

.facebook {
    fill: red;
}

.footer {
    padding: 2em;
}

input {
    margin-top: 5px;
    border-radius: 25px;
    padding: 1px 5px;
    border: rgb(180, 178, 178) 1px solid;
    height: 2em;
}

form input[type="email"]::placeholder {
    margin-left: 4em;
}

form.error input[type="email"] {
    border-color: var(--light-red);
}

input[type=submit] {
    background-color: var(--blue);
    color: white;
    border: none;
    width: 100px;
    margin-left: 3px;
    font-kerning: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

form.error .error_text {
    top:70px;
    font-size: .75rem;
    margin-top: 10px;
    color: var(--light-red);
    font-weight: 300;
    font-style: italic;
    left: 0;
}

@media only screen and (max-width: 768px) {
    form {
        display: flex;
        flex-direction: column;
    }
    form input {
        width: 90%;
        margin: 10px auto;
        height: 3em;
    }
    input[type=submit] {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.6em;
    }
}